<!DOCTYPE html>
<html>
<head>
  <title><%= tittle %></title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style1.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/grid.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media="screen">
<script src="javascripts/jquery-1.6.2.min.js"></script>
<header>
  <div class="row-1">
    <div class="main">
      <div class="container_12">
        <div class="grid_12">
          <nav>
            <ul class="menu">
              <li><a href="/">HOME</a></li>
              <div class="dropdown">
                <li><a href='#' > OUR SERVICES</A>
                  <div class="dropdown-content">
                    <a href="decorate">Decorate your room</a>
                    <a href="products">Buy items</a>
                    <a href="design">Design</a>    
                  </div>
                  </div>
                </a></li>
              <li><a href="catalogue">GALLERY</a></li>
              <li><a href="contacts">SIGN UP</a></li>
              <li><a href="login">SIGN IN</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="row-2">
    <div class="main">
      <div class="container_12">
        <div class="grid_9">
          <h1> <a class="logo" href="index">W<strong>e</strong> <span>Design</span></a> </h1>
        </div>
        <!-- <div class="grid_3">
          <form id="search-form" action="#" method="post" enctype="multipart/form-data">
            <fieldset>
              <div class="search-field">
                <input name="search" type="text">
                <a class="search-button" href="#"><span>search</span></a> </div>
            </fieldset>
          </form>
        </div> -->
        <div class="clear"></div>
      </div>
    </div>
  </div>
</header>

<body>



  <footer>
  <br><br>
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <div class="grid_4">
          <div>Copyright &copy; <a href="#">WLiT</a> All Rights Reserved</div>
          <div>Design by <a target="_blank" href="#">WLiT</a></div>
          <!-- {%FOOTER_LINK} -->
        </div>
        <div class="grid_4"> <span class="phone-numb"></div>
        <div class="grid_4">
          <ul class="list-services">
            <li><a href="#"></a></li>
            <li><a class="item-2" href="#"></a></li>
            <li><a class="item-3" href="#"></a></li>
            <li><a class="item-4" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>

</head>
</html>