<!DOCTYPE html>
<html lang="en">
<head>
<title>Interior Design | Services</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style1.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/grid.css" type="text/css" media="screen">

 <link rel="stylesheet" type="text/css" href="stylesheets/cart_style.css">
  <script type="text/javascript" src="jquery.js"></script>

<script src="javascripts/jquery-1.6.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
<body id="page2">
<!--==============================header=================================-->
<header>
  <div class="row-1">
    <div class="main">
      <div class="container_12">
        <div class="grid_12">
          <nav>
            <ul class="menu">
              
              <li><a href="/">HOME</a></li>
              <div class="dropdown">
                        <li><a href='#' > OUR SERVICES</A>
                                <div class="dropdown-content">
                                  <a href='decorate'>Decorate your room</a>
                                  <a href='products'>Buy items</a>
                                  <a href="design">Design</a>
                                      
                                              </div>
                                            </div></a></li>
               


              <li><a href="catalogue">GALLERY</a></li>
              <li><a href="contacts">SIGN UP</a></li>
              <li><a href="login">SIGN IN</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="row-2">
    <div class="main">
      <div class="container_12">
        <div class="grid_9">
          <h1> <a class="logo" href="index.html">W<strong>e</strong></a> <span>Design</span> </h1>
        </div>
        <!-- <div class="grid_3">
          <form id="search-form" action="#" method="post" enctype="multipart/form-data">
            <fieldset>
              <div class="search-field">
                <input name="search" type="text">
                <a class="search-button" href="#"><span>search</span></a> </div>
            </fieldset>
          </form>
        </div> -->
        <div class="clear"></div>
      </div>
    </div>
  </div>
</header>
<!--  content -->
<section id="content">
  <div class="bg-top">
    <div class="bg-top-2">
      <div class="bg">
        <div class="bg-top-shadow">
          <div class="main">
            <div class="box p3">
              <div class="padding">
                <div class="container_12">
                  <div class="wrapper">
                    <div class="grid_12">
                      <div class="wrapper">
                        <article class="grid_4 alpha">
                          <div class="indent">

                          <!-- Item id:<input type="number" name="id">
                          <br>

                          <br>

                          Item name:<input type="text" name="name">
                         <br> 

                          <br>
                          Cost:<input type="number" name="cost">
                          <br>

                          <br>
                          Details:<input type="text" name="detail">
                          <br>

                          <br>
                          No. of items:<input type="number" name="items">
                          <br>

                          <br>
                          Total:<input type="number" name="total">
                          <br>

                          <br>
                          <button type="submit" name="buy"  class='.btn-danger'>BUY</button> -->
                          <!--img src="images/gallery-img1.jpg"-->
                            <!-- <h3 class="prev-indent-bot2">Interior Services</h3>
                            <ul class="list-2">
                              <li><a href="#">Sed ut perspiciatis unde omnis </a></li>
                              <li><a href="#">Fiste natus error volutem accusantium</a></li>
                              <li><a href="#">Doloremque laudantium totam rem</a></li>
                              <li><a href="#">Eaque ipsa quae illo inventore veritatis</a></li>
                              <li><a href="#">Quasi architecto beatae vitae dicta</a></li>
                              <li><a href="#">Nemo enim ipsam voluptatem</a></li>
                              <li><a href="#">Wuia voluptas sit aspernatur odit aut</a></li>
                              <li><a href="#">Consequuntur magni dolores qui</a></li>
                              <li><a href="#">Ratione voluptatem sequi nesciunt</a></li>
                              <li class="last-item"><a href="#">Neque porro quisquam est qui</a></li>
                            </ul> -->
                          <!-- </div> -->

<!-- 

                          <div class="carousel">
              <h3 class="color-1 p2">Products</h3>
              <a class="prev" href="#">Prev</a> <a class="next" href="#">Next</a>
              <div class="jCarouselLite"> -->
               
                
                  
                 
                           
                  
                        </article>
                        

<div id="item_div">

  <div class="items" id="item1">
    <img src="images/room.jpg">
    <input type="button" value="Add To CART" image-align="center" onclick="cart('item1')">
    <p>GUEST ROOM</p>
    <p>Price - $95</p>
    <input type="hidden" id="item1_name" value="Simple Navy Blue T-Shirt">
    <input type="hidden" id="item1_price" value="$95">
  </div>

  <div id="header">

  <label><span class="text-form">Item Id:211</span>
                              
                            </label>
                            </br>
                            </br>

Your living room is one of the most important rooms in your house. It is not just a relaxing space that welcomes guests and visitors, it also serves as a home’s showcase and focal point. And you probably spend a lot of time in it.

Since the living room is usually the first room that your guests see, it should be a space that reflects your style. The most popular decorating styles are contemporary, traditional and transitional. I prefer a modern, contemporary look, so for those of you looking for more modern living room design ideas, here are some pictures to help inspire you.

    


</div>

<div id="content">
  <div class="col">
    
  </div>
  <div class="col">
    
  </div>
</div>

<div id="footer">
 <!--  ... contents go here ... -->
</div>

  <!-- <div class="items" id="item2">
    <img src="product2.jpg">
    <input type="button" value="Add To CART" onclick="cart('item2')">
    <p>Living Rooms</p>
    <p>Price - $105</p>
    <input type="button" value="Buy" onclick="cart('item2')">
    <input type="hidden" id="item2_name" value="Trendy T-Shirt With Back Design">
    <input type="hidden" id="item2_price" value="$105">

  </div>
  
  <div class="items" id="item3">
    <img src="product3.jpg">
    <input type="button" value="Add To CART" onclick="cart('item3')">
    <p>Two Color Half-Sleeves T-Shirt</p>
    <p>Price - $120</p>
    <input type="hidden" id="item3_name" value="Two Color Half-Sleeves T-Shirt">
    <input type="hidden" id="item3_price" value="$120">
  </div>

  <div class="items" id="item4">
    <img src="product4.jpg">
    <input type="button" value="Add To CART" onclick="cart('item4')">
    <p>Stylish Grey Chinos For Mens</p>
    <p>Price - $140</p>
    <input type="hidden" id="item4_name" value="Stylish Grey Chinos For Mens">
    <input type="hidden" id="item4_price" value="$140">
  </div>

  <div class="items" id="item5">
    <img src="images/kitchen2.jpg">
    <input type="button" value="Add To CART" onclick="cart('item5')">
    <p>Comfortable Pants For Working</p>
    <p>Price - $130</p>
    <input type="hidden" id="item5_name" value="Comfortable Pants For Working">
    <input type="hidden" id="item5_price" value="$130">
  </div>

  <div class="items" id="item6">
    <img src="product6.jpg">
    <input type="button" value="Add To CART" onclick="cart('item6')">
    <p>Slim Track Pant For Jogging</p>
    <p>Price - $90</p>
    <input type="hidden" id="item6_name" value="Slim Track Pant For Jogging">
    <input type="hidden" id="item6_price" value="$90"> -->
  </div>

</div>

                        <article class="grid_8 omega">
                          <!--div class="indent-right">
                            <h3 class="p2">Company Profile</h3>
                            <div class="wrapper prev-indent-bot2">
                              <figure class="img-indent2 frame2"><img src="images/page2-img1.jpg" alt=""></figure>
                              <div class="extra-wrap">
                                <h6 class="prev-indent-bot">At vero eos et accusamus et iusto odio dignissimos ducims qui blanditiis praesentium. </h6>
                                Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </div>
                            </div>
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae taque earum rerum.</p>
                            <a class="button" href="#">Read More</a> </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
              </div-->
            </div>
            <!-- <div class="container_12">
              <div class="wrapper">
                <article class="grid_4">
                  <h3 class="color-1 p2">Consultation</h3>
                  <span class="text-1">Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua enim <br>
                  ad minim veniam.</span> </article>
                <article class="grid_4">
                  <h3 class="color-1 p2">Our Mission</h3>
                  <span class="text-1">Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla xcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</span> </article>
                <article class="grid_4">
                  <h3 class="color-1 indent-bot">Consultation</h3>
                  <form id="subscribe-form" action="#" method="post" enctype="multipart/form-data">
                    <fieldset>
                      <div class="subscribe-field">
                        <input type="text">
                      </div>
                      <a class="button" href="#">Subscribe</a>
                    </fieldset>
                  </form>
                </article>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
 <!--  <div class="bg-bot">
    <div class="main">
      <div class="container_12">
        <div class="wrapper">
          <article class="grid_4">
            <div class="indent-right2">
              <h3 class="prev-indent-bot2">Space Planning</h3>
              <ul class="list-2">
                <li><a href="#">Totam rem aperiam eaque ipsa quae abillo</a></li>
                <li><a href="#">Inventore veritatis quasi architecto beatae vitae</a></li>
                <li><a href="#">Nemo enim ipsam voluptatem quia</a></li>
                <li><a href="#">Voluptas sit aspernatur aut odit aut fugit</a></li>
                <li class="last-item"><a href="#">Sed quia consequuntur magni dolores eos</a></li>
              </ul>
            </div>
          </article>
          <article class="grid_8">
            <h3 class="p2">Selection &amp; Installation</h3>
            <div class="wrapper">
              <figure class="img-indent2 frame2"><img src="images/page2-img2.jpg" alt=""></figure>
              <div class="extra-wrap">
                <h6 class="p1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.</h6>
                Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctioam libero tempore cum soluta. </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div> -->
</section>
<!--==============================footer=================================-->
<footer>
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <div class="grid_4">
          <div>Copyright &copy; <a href="#">Interior Design</a> All Rights Reserved</div>
          <div>Design by <a target="_blank" href="http://wlit.org.np/">Wlit.org.np</a></div>
          <!-- {%FOOTER_LINK} -->
        </div>
        <div class="grid_4"> <span class="phone-numb"></span> </div>
        <div class="grid_4">
          <ul class="list-services">
            <li><a href="#"></a></li>
            <li><a class="item-2" href="#"></a></li>
            <li><a class="item-3" href="#"></a></li>
            <li><a class="item-4" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
