<!DOCTYPE html>
<html lang="en">
<head>
<title>Interior Design | Contacts</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/grid.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style1.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css" media="screen">

<script src="javascripts/jquery-1.6.2.min.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
<body id="page5">
<!--==============================header=================================-->
<header>
    <div class="row-1">
    
      <div class="container_12">
        <div class="grid_12">
            <ul class="menu">
          <nav>
            <li><a href="index">HOME</a></li>

                <div class="dropdown">
                  <li><a href='#' > OUR SERVICES</a>
                    <div class="dropdown-content">      
                      <a href="decorate">Decorate your room</a>
                      <a href="products">Buy items</a>
                      <a href="design">Design</a>

                    </div>
                  </li>
                </div>
            <li><a href="catalogue">GALLERY</a></li>
            <li><a class="active" href="contacts">SIGN UP</a></li>
            <li><a href="login">SIGN IN</a></li>
            
          <!-- <div class="main"><a href="contacts.html" text-align="center"><p>Login</p><p>Sign Up</p></a></div> -->
<!-- <style>
p { text-align:center; }
</style> -->
              </ul>
              <!-- <p style="text-align:right;"><a href="#">Login</p>
            <p style="text-align:right;">Sign Up</p>
 -->
              
          </nav>
        </div>
      </div>
      
</div>
  <div class="row-2">
    <div class="main">
      <div class="container_12">
        <div class="grid_9">
          <h1> <a class="logo" href="index">W<strong>e</strong> <span>Design</span></a> </h1>
        </div>
        <!-- <div class="grid_3">
          <form id="search-form" action="#" method="post" enctype="multipart/form-data">
            <fieldset>
              <div class="search-field">
                <input name="search" type="text">
                <a class="search-button" href="#"><span>search</span></a> </div>
            </fieldset>
          </form>
        </div> -->
        <div class="clear"></div>
      </div>
    </div>
  </div>
</header>
<!-- content -->
<section id="content">
  <div class="bg-top">
    <div class="bg-top-2">
      <div class="bg">
        <div class="bg-top-shadow">
          <div class="main">
            <div class="box">
              <div class="padding">
                <div class="container_12">
                  <div class="wrapper">
                    <div class="grid_12">
                      <div class="indent-left">
                        <h3 class="p2">Registration Form</h3>
                        <form id="contact-form" action="addProfiles/insert" method="post" enctype="multipart/form-data">
                          <fieldset>
                            <label><span class="text-form">Name:</span>
                              <input name="name" type="text" id="name">
                            </label>
                            <label><span class="text-form">Email:</span>
                              <input name="email" type="text" id='email'>
                            </label>
                            <label><span class="text-form">Phone:</span>
                              <input name="phone" type="text" id='phone'>
                            </label>
                            <label><span class="text-form">Address:</span>
                              <input name="address" type="text" id='address'>
                            </label>
                            <label><span class="text-form">Password:</span>
                              <input name="password" type="password" id='username'>
                            </label>
                            <label><span class="text-form">Confirm Password:</span>
                              <input type="password" id='confirm'>
                            </label>
                             <button class="btn btn-info" type="submit" justify-content:centre>SUBMIT</button> </div>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-bot">
    <div class="main">
      <div class="container_12">
        <div class="wrapper">
          <article class="grid_3">
            <h3 class="prev-indent-bot">Our Address</h3>
            <dl>
              <dt class="indent-bot"><h5>WLIT<br>
                Jwagal,Lalitpur</dt>
                 +977 9800 000 000 </h5>

              <dd><strong>E-mail:</strong> <a href="#">wlitnepal@gmail.com</a></dd>
            </dl>
          </article>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <div class="grid_4">
          <div>Copyright &copy; <a href="#">Interior Design</a> All Rights Reserved</div>
          <div>Design by <a target="_blank" href="http://wlit.org.np/">Wlit.org.np</a></div>
          <!-- {%FOOTER_LINK} -->
        </div>
        <div class="grid_4">
          <ul class="list-services">
            <li><a href="#"></a></li>
            <li><a class="item-2" href="#"></a></li>
            <li><a class="item-3" href="#"></a></li>
            <li><a class="item-4" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
