<html>
<head>
<title>Decorate Your room</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style1.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/grid.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media="screen">
<script src="javascripts/jquery-1.6.2.min.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
<body id="page2">
<!--==============================header=================================-->
<header>
  <div class="row-1">
    <div class="main">
      <div class="container_12">
        <div class="grid_12">
          <nav>
            <ul class="menu">
             
              <li><a href="/">HOME</a></li>
              <div class="dropdown">
                        <li><a href='#' > OUR SERVICES</A>
                                <div class="dropdown-content">
                                  <a href="decorate">Decorate your room</a>
                                  <a href="products">Buy items</a>
                                  <!-- <a href="design">Design</a> -->
                                              </div>
                                            </div></a></li>
              <li><a href="catalogue">GALLERY</a></li>
              <li><a href="signUp">SIGN UP</a></li>
              <li><a href="login">SIGN IN</a></li>
              
            </ul>
          </nav>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="row-2">
    <div class="main">
      <div class="container_12">
        <div class="grid_9">
          <h1> <a class="logo" href="index">W<strong>e</strong> <span>Design</span></a> </h1>
        </div>
        <!-- <div class="grid_3">
          <form id="search-form" action="#" method="post" enctype="multipart/form-data">
            <fieldset>
              <div class="search-field">
                <input name="search" type="text">
                <a class="search-button" href="#"><span>search</span></a> </div>
            </fieldset>
          </form>
        </div> -->
        <div class="clear"></div>
      </div>
    </div>
  </div>
</header>

<section id="content">
  <div class="bg-top">
    <div class="bg-top-2">
      <div class="bg">
        <div class="bg-top-shadow">
          <div class="main">
            <div class="box">
              <div class="padding">
                <div class="container_12">
                  <div class="wrapper">
                    <div class="grid_12">
                      <div class="indent-left">
                      <h3 class="p2">We Design Your Room</h3>
                        <form method="POST" action="addUploads/insert" enctype="multipart/form-data">
                          <fieldset>
                            <label><span class="text-form">Height:</span>
                              <input type='number' name='height'>
                            </label>
                            <br>
                            <br>
                            <label><span class="text-form">Length:</span>
                              <input name="p2" type="number">
                            </label>
                            <br>
                            <br>
                            <label><span class="text-form">Width:</span>
                              <input type='number'>
                            </label>
                            <br>
                            <br>
                            <label><span class="text-form">Cost Limit:</span>
                              <input type="number" name="cost">
                            </label>
                            <br>
                            <br>
                            <label><span class="text-form">Room Type:</span>
                              <!-- <input type="number" name="cost"> -->

                             <select name="type">
                            <label><span class="text-form"><option value="kids">Kids</option></span></label>
                             <option value="royale">Royale </option>
                            <option value="modern">Modern</option>
                            <option value="ancient">Classy</option>
                              </select>
                            </label>
                            <br>
                            <br>
                            <label><span class="text-form">Description</span>
                              <textarea type='string' name="description"></textarea>
                            </label>
                            <br>
                            <br>
                            <label><span class="text-form">Upload image</span>
                              <!-- <input type="number" name="cost"> -->
                              <input type="file" name='image'>
                            </label>

                            <br>
                            <br>

                            <button type='submit' name='submit' onclick="alert('We have recieved your request.We will contact you soon.')";>SUBMIT</button>
                      
                            <!-- <div class="buttons"><p style="text-align:left;"> 
                             <a class="button" href="#">Login</a> </div> -->

                             

                          </fieldset>

                        </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<footer>
  <br><br>
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <div class="grid_4">
          <div>Copyright &copy; <a href="#">WLiT</a> All Rights Reserved</div>
          <div>Design by <a target="_blank" href="#">WLiT</a></div>
          <!-- {%FOOTER_LINK} -->
        </div>
        <div class="grid_4"> <span class="phone-numb"></div>
        <div class="grid_4">
          <ul class="list-services">
            <li><a href="#"></a></li>
            <li><a class="item-2" href="#"></a></li>
            <li><a class="item-3" href="#"></a></li>
            <li><a class="item-4" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
