<!DOCTYPE html>
<html lang="en">
<head>
<title>Interior Design</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style1.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/grid.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
<script src="javascripts/jquery-1.6.2.min.js"></script>
<script src="javascripts/jquery.galleriffic.js"></script>
<script src="javascripts/jquery.opacityrollover.js"></script>
<script src="javascripts/fabric.min.js"></script>
<script src="javascripts/fileSaver.min.js"></script>
<script src="javascripts/design.js"></script>

<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>


<body id="page1">

<header>
  <div class="row-1">
    <div class="container_12">
      <div class="grid_12">
        <ul class="menu">
          <nav>
            <li><a href="index">HOME</a></li>
            <div class="dropdown">
              <li><a href='#' > OUR SERVICES</a>
                <div class="dropdown-content">      
                  <a href="decorate">Decorate your room</a>
                  <a href="products">Buy items</a>
                  <!-- <a href="design">Design</a> -->
                </div>
              </li>
            </div>
            <li><a href="catalogue">GALLERY</a></li>
            <li><a href="signUp">SIGN UP</a></li>
            <li><a href="login">SIGN IN</a></li>
          </nav>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="row-2">
    <div class="main">
      <div class="container_12">
        <div class="grid_9">
          <h1> <a class="logo" href="index.html">W<strong>e</strong></a> <span>Design</span> </h1>
        </div>
        <div class="grid_3">
      </div>
      <div class="clear"></div>
    </div>
  </div>
  </div>
</header>

  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-sm-6">
          <input type="image" src="images/design/carpet1.jpeg" height="70" width="100" id="img1"/>
        </div>
        <div class="col-sm-6">
          <input type="image" src="images/design/carpet2.jpeg" height="70" width="100" id="img2"/>
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-6">
          <input type="image" src="images/design/carpet3.jpeg" height="70" width="100" id="img3"/>
        </div>
        <div class="col-sm-6">
          <input type="image" src="images/design/carpet4.jpg" height="70" width="100" id="img4"/>
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-6">
          <input type="image" src="images/design/sofa1.png" height="70" width="100" id="img5"/>
        </div>
        <div class="col-sm-6">
          <input type="image" src="images/design/sofa2.png" height="70" width="100" id="img6"/>
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-6">
          <input type="image" src="images/design/table1.png" height="70" width="100" id="img7"/>
        </div>
        <div class="col-sm-6">
          <input type="image" src="images/design/table2.png" height="70" width="100" id="img8"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input type="image" src="images/design/table3.png" height="70" width="100" id="img9"/>
        </div>
        <div class="col-sm-6">
          <input type="image" src="images/design/chair1.png" height="70" width="100" id="img10"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input type="image" src="images/design/lamp1.png" height="70" width="100" id="img11"/>
        </div>
        <div class="col-sm-6">
          <input type="image" src="images/design/lamp2.png" height="70" width="100" id="img12"/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <canvas id="can" width="600" height="500" style="border:5px solid #d2cccb;">
        </canvas><br>
      </div>
      <div class="row">
        <div class="col-md-6">  
          <button id="saveImg">Save Image</button> 
        </div> 
        <div class="col-md-6">
          <button>3D View</button>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <input type="button" value="get circle" id="button_circle"/><br>
      <input type="button" value="get triangle" id="get_triangle1"/><br>
      <input type="button" value="get rectangle" id="get_rectangle"/><br>
      <input type="button" value="get triangle" id="get_triangle2"/><br>
      <input type="button" value="get image" id="get_image1"/><br>
      <input type="button" value="get image" id="get_image2"/><br>
    </div>
  </div>

<!--=======================footer===============================-->
<footer>
  <br><br>
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <div class="grid_4">
          <div>Copyright &copy; <a href="#">WLiT</a> All Rights Reserved</div>
          <div>Design by <a target="_blank" href="#">WLiT</a></div>
          <!-- {%FOOTER_LINK} -->
        </div>
        <div class="grid_4"> <span class="phone-numb"></div>
        <div class="grid_4">
          <ul class="list-services">
            <li><a href="#"></a></li>
            <li><a class="item-2" href="#"></a></li>
            <li><a class="item-3" href="#"></a></li>
            <li><a class="item-4" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
      var canvas = new fabric.Canvas('can');

    $('#button_circle').click(function(){
      canvas.add(new fabric.Circle({
        radius : 50,
        fill : '#ff0',
        left : 20,
        top : 20
      }));
    });
    
    $('#get_triangle1').click(function(){
      canvas.add(new fabric.Triangle({
        fill : '#f00',
        left : 20,
        top : 20,
        width : 15,
        height : 30
      }));
    });
    $('#get_rectangle').click(function(){
      canvas.add(new fabric.Rect({
        left : 200,
        top : 250,
        fill : '#989',
        width : 20,
        height : 20
      }));
    });
    $('#get_triangle2').click(function(){
      canvas.add(new fabric.Triangle({
        fill : '#746',
        left : 100,
        top : 200,
        width : 50,
        height : 15
      }));
    });

    $('#saveImg').click(function(){
    $('#can').get(0).toBlob(function(blob){
      saveAs(blob, 'myImage.png');
    });
  });


//     $('#get_image1').click(function(){
//       canvas.add(new fabric.Circle({
//         radius : 35,
//         fill : '#820',
//         left : 400,
//         top : 298
//       }));
//     });


// // script begins
//   $('#img1').click(function(){
//     var imgElement = document.getElementById('img1');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 5,
//       top : 5,
//       height : 500,
//       width : 500
//   }));
//   });
//   $('#img2').click(function(){
//     var imgElement = document.getElementById('img2');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 5,
//       top : 5,
//       height : 500,
//       width : 500
//   }));
//   });
//   $('#img3').click(function(){
//     var imgElement = document.getElementById('img3');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 5,
//       top : 5,
//       height : 500,
//       width : 500
//   }));
//   });
//   $('#img4').click(function(){
//     var imgElement = document.getElementById('img4');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 100,
//       top : 200,
//       height : 500,
//       width : 500
//   }));
//   });
//   $('#img5').click(function(){
//     var imgElement = document.getElementById('img5');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 5,
//       top : 5,
//       height : 20,
//       width : 10
//   }));
//   });
//   $('#img6').click(function(){
//     var imgElement = document.getElementById('img6');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 5,
//       top : 5,
//       height : 20,
//       width : 10
//   }));
//   });
//   $('#img7').click(function(){
//     var imgElement = document.getElementById('img7');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 250,
//       top : 250,
//       height : 100,
//       width : 50
//   }));
//   });
//   $('#img8').click(function(){
//     var imgElement = document.getElementById('img8');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 250,
//       top : 250,
//       height : 100,
//       width : 50
//   }));
//   });
//   $('#img9').click(function(){
//     var imgElement = document.getElementById('img9');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 250,
//       top : 250,
//       height : 100,
//       width : 50
//   }));
//   });
//   $('#img10').click(function(){
//     var imgElement = document.getElementById('img10');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 250,
//       top : 450,
//       height : 100,
//       width : 50
//   }));
//   });
//   $('#img11').click(function(){
//     var imgElement = document.getElementById('img11');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 750
//       top : 50
//       height : 50
//       width : 50
//   }));
//   });
//   $('#img12').click(function(){
//     var imgElement = document.getElementById('img12');
//     canvas.add(new fabric.Image(imgElement, {
//       left : 750
//       top : 50
//       height : 50
//       width : 50
//   });

</script>
</body>
</html>
