<!DOCTYPE html>
<html lang="zxx">
<head>
  <title>We Help to Design</title>
  <!--/metadata -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
  <meta name="keywords" content="Interior Show Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!-- //for-mobile-apps -->
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
  <!-- header and footer stylesheet -->
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- //header and footer stylesheet -->
  <!-- lightbox css file -->
  <link href="css/lightcase.css" rel="stylesheet" type="text/css" />
  <!-- css file -->

  <!-- Testimonials-slider-css-files -->
  <link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
  <link href="css/owl.theme.css" rel="stylesheet">
<!-- //Testimonials-slider-css-files -->
  <!-- online fonts -->
  <link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <!-- //online fonts -->
</head>



<body>
  <!-- banner -->
  <div class="banner jarallax">
      <div class="w3layouts-header-top">
        <div class="container">
          <div class="w3-header-top-grids">
            <div class="w3-header-top-left">
              <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +1 234 567 8901</p>
            </div>
            <div class="w3-header-top-right">
              <div class="agileinfo-social-grids">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  
                </ul>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <div class="head">
        <div class="container">
          <div class="navbar-top">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                 <div class="navbar-brand logo ">
                  <h1><a href="index.html">We Design</a></h1>
                </div>

              </div>

              
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav link-effect-4">
              <li class="active first-list"><a href="index">Home</a> </li>
                
                  
                  <li><a href="decorate">Decorate your room</a></li>
                
                <li><a href="designers">Designers</a></li>
                <li><a href="buy">Product</a></li>
                </ul>
              </div>
            
            </div>
        </div>
      </div>
      <div class="w3layouts-banner-slider">
        <div class="container">
          <div class="slider">
            <div class="callbacks_container">
              <ul class="rslides callbacks callbacks1" id="slider4">
                <li>
                  <div class="agileits-banner-info">
                    <h3>Discover your Dream home</h3>
                    <p>We Help to Design according to your choice</p>
                    <div class="w3-button">
                      <div class="w3ls-button">
                        <a href="#"  data-toggle="modal" data-target="#myModal">More</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="agileits-banner-info">
                    <h3>Creative Interior Designs</h3>
                    <p>We have a bunch of talented interior designer teams...............</p>
                    <div class="w3-button">
                      <div class="w3ls-button">
                        <a href="#"  data-toggle="modal" data-target="#myModal">More</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="agileits-banner-info">
                    <h3>Customer attractive designs</h3>
                    <p>We have so many samples and we have received so many awesome feedback from our customers</p>
                    <div class="w3-button">
                      <div class="w3ls-button">
                        <a href="#"  data-toggle="modal" data-target="#myModal">More</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="agileits-banner-info">
                    <h3>International Experts Designers </h3>
                    <p>We help to make your world more better and we help by providing the  best interior designs.</p>
                    <div class="w3-button">
                      <div class="w3ls-button">
                        <a href="#"  data-toggle="modal" data-target="#myModal">More</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="clearfix"> </div>
            <script>
              // You can also use "$(window).load(function() {"
              $(function () {
                // Slideshow 4
                $("#slider4").responsiveSlides({
                auto: true,
                pager:true,
                nav:false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                  $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                  $('.events').append("<li>after event fired.</li>");
                }
                });
            
              });
             </script>
            <!--banner Slider starts Here-->
          </div>
        </div>
      </div>
  </div>
  <!-- //banner -->


<!-- /testimonals section -->
<div class="agile_about contact" id="contact">

    <div class="wls_head_all">
      <h3>Our Designers</h3>

                    
  <div class="container"> 
       <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Code no.</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>

        <% designer.forEach(function(designer, i){ %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= designer.name %></td>
          <td><p align="right"><a class="btn btn-primary" id="indexView" href="designerProfile/<%= designer._id %>">View</p></a>
        </tr>
      <% }) %> 
      </tbody>
    </table>

</div>
</div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
  <footer>
    <div class="agileits-w3layouts-footer">
      <div class="container">
        <div class="col-md-4 w3-agile-grid">
          <h5>About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum urna non nisi ornare, condimentum iaculis ipsum blandit. Duis auctor vulputate metus nec luctus.</p>
          <div class="footer-agileinfo-social">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-4 w3-agile-grid">
          <h5>Discount/Sale Happening</h5>
          <div class="w3ls-post-grids">
            <div class="w3ls-post-grid">
              <div class="w3ls-post-img">
                <a href="#"><img src="images/f1.jpg" alt="" /></a>
              </div>
              <div class="w3ls-post-info">
                <h6><a href="#" data-toggle="modal" data-target="#myModal">20% sale on Interior Materials</a></h6>
                <p>Sept 24,2017</p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="w3ls-post-grid">
              <div class="w3ls-post-img">
                <a href="#"><img src="images/f2.jpg" alt="" /></a>
              </div>
              <div class="w3ls-post-info">
                <h6><a href="#" data-toggle="modal" data-target="#myModal">Sale Going On</a></h6>
                <p>Oct 25,2017</p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="w3ls-post-grid">
              <div class="w3ls-post-img">
                <a href="#"><img src="images/f3.jpg" alt="" /></a>
              </div>
              <div class="w3ls-post-info">
                <h6><a href="#" data-toggle="modal" data-target="#myModal">Panel Discussion </a></h6>
                <p>Nov 06,2017</p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 w3-agile-grid">
          <h5>Address</h5>
          <div class="w3-address">
            <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Phone Number</h6>
                <p>+977 7899999</p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Email Address</h6>
                <p>Email :<a href="mailto:example@email.com">wlit.wedesign@gmail.com</a></p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Location</h6>
                <p>Kupondol 
                <span>Telephone : 07-55555555</span>
                </p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <p>© 2018 Interior Show. All rights reserved | Design by <a href="http://wlit.org.np/">WLiT</a></p>
      </div>
    </div></footer>
  <!-- //footer -->
<!-- bootstrap-modal-pop-up -->
  <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          Interior Show
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>            
        </div>
          <div class="modal-body">
            <img src="images/modal1.jpg" alt=" " class="img-responsive" />
            <p>Sale Happening on Furniture product till Saturday.So hurry to get first.</p>
          </div>
      </div>
    </div>
  </div>
<!-- //bootstrap-modal-pop-up --> 

  <!-- js -->
  <script src="js/jquery-2.2.3.min.js"></script>
  <!-- //js-->

  <!-- banner-responsive-slider -->
  <script src="js/responsiveslides.min.js"></script>
  <script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 4
      $("#slider4").responsiveSlides({
        auto: true,
        pager: true,
        nav: false,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
      });

    });
  </script>
  <!-- //banner-responsive-slider -->
  
  <!-- light-case -->
  <script src="js/lightcase.js"></script>
  <script>
    $('.showcase').lightcase();
  </script>
  <!-- //light-case -->

  <!-- for testimonials slider-js-file-->
      <script src="js/owl.carousel.js"></script>
  <!-- //for testimonials slider-js-file-->
    <script>
    $(document).ready(function() { 
    $("#owl-demo").owlCarousel({
 
      autoPlay: 3000, //Set AutoPlay to 3 seconds
      autoPlay:true,
      items : 3,
      itemsDesktop : [640,5],
      itemsDesktopSmall : [414,4]
    });
    }); 
</script>
<!-- for testimonials slider-js-script-->

  <!-- smooth-scrolling -->
  <script src="js/move-top.js"></script>
  <script src="js/easing.js"></script>
  <script>
    jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
        event.preventDefault();

        $('html,body').animate({
          scrollTop: $(this.hash).offset().top
        }, 1000);
      });
    });
  </script>
  <script src="js/SmoothScroll.min.js"></script>
  <!-- //smooth-scrolling -->
  <script>
    $(document).ready(function () {
      /*
      var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      */

      $().UItoTop({
        easingType: 'easeOutQuart'
      });

    });
  </script>
  <!-- smooth-scrolling-of-move-up -->
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/bootstrap.js"></script>
</body>

</html>