<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>We Help to Design</title>
	<!--/metadata -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
	<meta name="keywords" content="Interior Show Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
	<!-- header and footer stylesheet -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //header and footer stylesheet -->
	<!-- lightbox css file -->
	<link href="css/lightcase.css" rel="stylesheet" type="text/css" />
	<!-- css file -->

	<!-- Testimonials-slider-css-files -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
	<link href="css/owl.theme.css" rel="stylesheet">
<!-- //Testimonials-slider-css-files -->
	<!-- online fonts -->
	<link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //online fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner jarallax">
			<div class="w3layouts-header-top">
				<div class="container">
					<div class="w3-header-top-grids">
						<div class="w3-header-top-left">
							<p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +977 984452222</p>
						</div>
						<div class="w3-header-top-right">
							<div class="agileinfo-social-grids">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
									<li><a href="signUP"><u>Sign Up</u></a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="head">
				<div class="container">
					<div class="navbar-top">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
								 <div class="navbar-brand logo ">
									<h1><a href="index.html">We Design</a></h1>
								</div>

							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							 <ul class="nav navbar-nav link-effect-4">
							<li class="active first-list"><a href="index.html">Home</a> </li>
								<li><a href="#about" class="scroll">About </a> </li>
									<li><a href="#services" class="scroll">Services </a> </li>
									<li><a href="decorate">Decorate your room</a></li>
								<li><a href="#gallery" class="scroll">Gallery</a></li>
								<li><a href="designers">Designers</a></li>
								<li><a href="#contact"  class="scroll">Contact</a></li>
								<li><a href="buy">Product</a></li>

							  </ul>
							</div><!-- /.navbar-collapse -->
						</div>
				</div>
			</div>
			<div class="w3layouts-banner-slider">
				<div class="container">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<li>
									<div class="agileits-banner-info">
										<h3>Discover your Dream home</h3>
										<p>We Help to Design according to your choice</p>
										<div class="w3-button">
											<div class="w3ls-button">
												<a href="#"  data-toggle="modal" data-target="#myModal">More</a>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="agileits-banner-info">
										<h3>Creative Interior Designs</h3>
										<p>We have a bunch of talented interior designer teams...............</p>
										<div class="w3-button">
											<div class="w3ls-button">
												<a href="#"  data-toggle="modal" data-target="#myModal">More</a>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="agileits-banner-info">
										<h3>Customer attractive designs</h3>
										<p>We have so many samples and we have received so many awesome feedback from our customers</p>
										<div class="w3-button">
											<div class="w3ls-button">
												<a href="#"  data-toggle="modal" data-target="#myModal">More</a>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="agileits-banner-info">
										<h3>International Experts Designers </h3>
										<p>We help to make your world more better and we help by providing the  best interior designs.</p>
										<div class="w3-button">
											<div class="w3ls-button">
												<a href="#"  data-toggle="modal" data-target="#myModal">More</a>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider4").responsiveSlides({
								auto: true,
								pager:true,
								nav:false,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });
						
							});
						 </script>
						<!--banner Slider starts Here-->
					</div>
				</div>
			</div>
	</div>
	<!-- //banner -->

<!-- banner-bottom -->
	<div id="about" class="banner-bottom">
		<div class="container">
			<div class="wls_head_all">
					<h3>About us</h3>
				</div>
			<div class="w3ls_banner_bottom_grid1">
				<div class="col-md-6 w3l_banner_bottom_left">	
					<img src="images/ab1.jpg" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-6 w3l_banner_bottom_right">
					<h3>Welcome to <span><i>WE</i> Design</span></h3>
					<p>We Design is a platform for the connection between the user and the interior designer. In this website,you can send the interior design the information of the room such as length,breadth and height of room,Room type ,Cost limit and so on.These information will help the interior designer to think the blueprint of the design.And the next features is You can even choose your own interior designer as your requirement.So to choose the designer,you have to send request to the designer and designer have to accept your request then only after you will get connected with the designer.The next things you can do in our website is you can buy the furniture from our website.</p>
					<ul>
						<li><i class="fa fa-table" aria-hidden="true"></i>Best Interior Designers</li>
						<li><i class="fa fa-certificate" aria-hidden="true"></i>Certified Designs</li>
						<li><i class="fa fa-usd" aria-hidden="true"></i>Low Prices</li>
					</ul>
				</div>

				<div class="clearfix"> </div>
			</div>
			<div class="agileits_banner_bottom_grid_three">
				<div class="col-md-4 agileinfo_banner_bottom_grid_three_left">
					<div class="wthree_banner_bottom_grid_three_left1 grid">
						
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<div class="wls_head_all">
					<h3>services</h3>
				</div>

			<div class="agile_wthree_inner_grids">
				<div class="col-md-8 w3-agileits-services-right">
					<div class="services-right-grids">
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon hvr-radial-in">
								<i class="fa fa-anchor" aria-hidden="true"></i>
							</div>
							<div class="services-icon-info">
								<h5>Products</h5>
								<p>We provide best interior designs materials</p>
							</div>
						</div>
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon hvr-radial-in">
								<i class="fa fa-comment" aria-hidden="true"></i>
							</div>
							<div class="services-icon-info">
								<h5>Home Designs</h5>
								<p>Provides best home designs by interior designers.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="services-right-grids">
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon hvr-radial-in">
								<i class="fa fa-american-sign-language-interpreting"></i>
							</div>
							<div class="services-icon-info">
								<h5>Office Designs</h5>
								<p>End-to-end solution for furniture,design expertise,floor planning, and installation.</p>
							</div>
						</div>
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon hvr-radial-in">
							<i class="fa fa-user" aria-hidden="true"></i>
							</div>
							<div class="services-icon-info">
								<h5>Planning Designs</h5>
								<p>Can ask for help in planning about your choice,blueprint shown</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="services-right-grids">
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon hvr-radial-in">
								<i class="fa fa-thumbs-up" aria-hidden="true"></i>
							</div>
							<div class="services-icon-info">
								<h5>24*7 available</h5>
								<p>Our designer are available for any time if you need any help.</p>
							</div>
						</div>
						<div class="col-sm-6 services-right-grid">
							<div class="services-icon hvr-radial-in">
								<i class="fa fa-shield" aria-hidden="true"></i>
							</div>
							<div class="services-icon-info">
								<h5>Friendly Designers</h5>
								<p>Dont hesistate to contact our designers they are awesome and always ready to help.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 w3-agileits-services-left">
					<div class="services-info">

					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!-- team -->
<!--<div id="team" class="team">  
	<div class="container">
		<div class="wls_head_all">
					<h3>Designers</h3>
				</div>

		<div class="team-row w3ls-team-row">  
			<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
				<div class="w3ls-effect">
					<img src="images/tm1.jpg" alt="img">
					<div class="view-caption">
						<h4>Bishal Karki</h4> 
						<a href="viewprofile"><p>Fusce sem</p>+

					</div>
					<div class="wthree-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
					</div>
				</div>    
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
				<div class="w3ls-effect">
					<img src="images/tm3.jpg" alt="img">
					<div class="view-caption">
						<h4>Nisha Karki</h4> 
						<p>Fusce sem</p>

					</div>
					<div class="wthree-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
					</div>
				</div>    
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
				<div class="w3ls-effect">
					<img src="images/tm2.jpg" alt="img">
					<div class="view-caption">
						<h4>Sunam Shakya</h4> 
						<p>Fusce sem</p>
					</div>
					<div class="wthree-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
					</div>
				</div>    
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
				<div class="w3ls-effect">
					<img src="images/tm4.jpg" alt="img">
					<div class="view-caption">
						<h4>Reshma KC</h4> 
						<p>Fusce sem</p>
					</div>
					<div class="wthree-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
					</div>
				</div>    
			</div>
			<div class="clearfix"> </div> 
		</div>
	</div>
</div>
-->
<!-- //team -->

<!-- portfolio -->
	<div class="portfolio" id="gallery">
	<div class="wls_head_all">
					<h3>Our Latest Projects</h3>
				</div>

		<div class="container">
			<div class="w3ls_portfolio_grids">
				<div class="col-xs-4 agileinfo_portfolio_grid">
					<div class="w3_agile_portfolio_grid1">
						<a href="images/g1.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Interior">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
								<div class="w3layouts_port_head">
									<h3>Interior</h3>
								</div>
								<img src="images/g1.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="images/g2.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Interior">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
								<div class="w3layouts_port_head">
									<h3>Interior</h3>
								</div>
								<img src="images/g2.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="images/g3.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Interior">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
								<div class="w3layouts_port_head">
									<h3>Interior</h3>
								</div>
								<img src="images/g3.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 agileinfo_portfolio_grid">
					<div class="w3_agile_portfolio_grid1">
						<a href="images/g4.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Interior">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
								<div class="w3layouts_port_head">
									<h3>Interior</h3>
								</div>
								<img src="images/g4.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="images/g5.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Interior">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
								<div class="w3layouts_port_head">
									<h3>Interior</h3>
								</div>
								<img src="images/g5.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="images/g6.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Interior">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
								<div class="w3layouts_port_head">
									<h3>Interior</h3>
								</div>
								<img src="images/g6.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 agileinfo_portfolio_grid">
					<div class="w3_agile_portfolio_grid1">
						<a href="images/g7.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Interior">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
								<div class="w3layouts_port_head">
									<h3>Interior</h3>
								</div>
								<img src="images/g7.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="images/g8.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Interior">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
								<div class="w3layouts_port_head">
									<h3>Interior</h3>
								</div>
								<img src="images/g8.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="images/g9.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Interior">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
								<div class="w3layouts_port_head">
									<h3>Interior</h3>
								</div>
								<img src="images/g9.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //portfolio -->

<!-- testimonals section -->

<!-- /testimonals section -->
<div class="agile_about contact" id="contact">

		<div class="wls_head_all">
			<h3>Contact us</h3>
										
	<div class="container">	
			<div class="agileits_agile_about_mail">
				<form action="#" method="post">
					<div class="col-md-6 agileits_agile_about_mail_left">
						<input type="text" name="Name" placeholder="Name" required="">
					<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 agileits_agile_about_mail_left">
						<input type="text" name="Subject" placeholder="Subject" required="">
					<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 agileits_agile_about_mail_left">
						<input type="email" name="Email" placeholder="Email" required="">
					<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 agileits_agile_about_mail_left">
						<input type="text" name="Phone" placeholder="Phone" required="">
					<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
					<textarea name="Message" placeholder="Message..." required=""></textarea>
					<div class="submit">
						<input type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- //contact -->
<!-- map -->
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7066.0010469748795!2d85.3183208!3d27.6863787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19b511b696a5%3A0xe085a2a2159e2f34!2sKupondole+Rd+162%2C+Patan+44700!5e0!3m2!1sen!2snp!4v1498828144693" width="600" height="450" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
</div>
<!-- map -->


<!-- footer -->
	<footer>
		<div class="agileits-w3layouts-footer">
			<div class="container">
				<div class="col-md-4 w3-agile-grid">
					<h5>About Us</h5>
					<p>We Design is a platform for the connection between the user and the interior designer. In this website,you can send the interior design the information of the room such as length,breadth and height of room,Room type ,Cost limit and so on.These information will help the interior designer to think the blueprint of the design.And the next features is You can even choose your own interior designer as your requirement.So to choose the designer,you have to send request to the designer and designer have to accept your request then only after you will get connected with the designer.The next things you can do in our website is you can buy the furniture from our website.</p>
					<div class="footer-agileinfo-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							
						</ul>
					</div>
				</div>
				<div class="col-md-4 w3-agile-grid">
					<h5>Discount/Sale Happening</h5>
					<div class="w3ls-post-grids">
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="images/f1.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">20% sale on Interior Materials</a></h6>
								<p>Sept 24,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="images/f2.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Sale Going On</a></h6>
								<p>Oct 25,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="images/f3.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Panel Discussion </a></h6>
								<p>Nov 06,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 w3-agile-grid">
					<h5>Address</h5>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>+977 7899999</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:example@email.com">wlit.wedesign@gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>Kupondol 
								<span>Telephone : 07-55555555</span>
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<p>© 2018 Interior Show. All rights reserved | Design by <a href="http://wlit.org.np/">WLiT</a></p>
			</div>
		</div>
	</footer>
	<!-- //footer -->
<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Interior Show
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
					<div class="modal-body">
						<img src="images/modal1.jpg" alt=" " class="img-responsive" />
						<p>Sale Happening on Furniture product till Saturday.So hurry to get first.</i></p>
					</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-modal-pop-up --> 

	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js-->

	<!-- banner-responsive-slider -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- //banner-responsive-slider -->
	
	<!-- light-case -->
	<script src="js/lightcase.js"></script>
	<script>
		$('.showcase').lightcase();
	</script>
	<!-- //light-case -->

	<!-- for testimonials slider-js-file-->
			<script src="js/owl.carousel.js"></script>
	<!-- //for testimonials slider-js-file-->
		<script>
		$(document).ready(function() { 
		$("#owl-demo").owlCarousel({
 
			autoPlay: 3000, //Set AutoPlay to 3 seconds
			autoPlay:true,
			items : 3,
			itemsDesktop : [640,5],
			itemsDesktopSmall : [414,4]
		});
		}); 
</script>
<!-- for testimonials slider-js-script-->

	<!-- smooth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<script src="js/SmoothScroll.min.js"></script>
	<!-- //smooth-scrolling -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- smooth-scrolling-of-move-up -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/bootstrap.js"></script>
	<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b4d8de5df040c3e9e0ba14a/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

</body>

</html>