<!DOCTYPE html>
<html lang="en">
<head>
<title>Interior Design</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style1.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/grid.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
<script src="javascripts/jquery-1.6.2.min.js"></script>
<script src="javascripts/jquery.galleriffic.js"></script>
<script src="javascripts/jquery.opacityrollover.js"></script>
<script src="javascripts/fabric.min.js"></script>
<script src="javascripts/fileSaver.min.js"></script>
<script src="javascripts/design.js"></script>

<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
 <body id="page1">

 <header>
  <div class="row-1">
    <div class="main">
      <div class="container_12">
        <div class="grid_12">
          <nav>
            <ul class="menu">
              <li><a href="/">HOME</a></li>
              <div class="dropdown">
                        <li><a href='#' > OUR SERVICES</A>
                                <div class="dropdown-content">
                                  <a href="decorate">Decorate your room</a>
                                  <a href="products">Buy items</a>
                                  <!-- <a href="design">Design</a>     -->
                                              </div>
                                            </div></a></li>
              <li><a href="catalogue">GALLERY</a></li>
              <li><a href="signUp">SIGN UP</a></li>
              <li><a href="login">SIGN IN</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="row-2">
    <div class="main">
      <div class="container_12">
        <div class="grid_9">
          <h1> <a class="logo" href="index">W<strong>e</strong> <span>Design</span></a> </h1>
        </div>
        <!-- <div class="grid_3">
          <form id="search-form" action="#" method="post" enctype="multipart/form-data">
            <fieldset>
              <div class="search-field">
                <input name="search" type="text">
                <a class="search-button" href="#"><span>search</span></a> </div>
            </fieldset>
          </form>
        </div> -->
        <div class="clear"></div>
      </div>
    </div>
  </div>
</header>


<!-- content -->
<section id="content">
  <div class="bg-top">
    <div class="bg-top-2">
      <div class="bg">
        <div class="bg-top-shadow">
          <div class="main">

            <h3 class="color-1">Some of our designs and products</h3>

            <div class="gallery p3">
              <div class="wrapper indent-bot">
                <div id="gallery" class="content">
                  <div class="wrapper">
                    <div class="slideshow-container">
                      <div id="slideshow" class="slideshow"></div>
                    </div>
                  </div>
                </div>
                <div id="thumbs" class="navigation">
                  <ul class="thumbs noscript">
                    <li> <a class="thumb" href="images/gallery-img1.jpg"> <img src="images/thumb-1.jpg" alt=""><span></span> </a> </li>
                    <li> <a class="thumb" href="images/gallery-img2.jpg"> <img src="images/thumb-2.jpg" alt=""> <span></span></a> </li>
                    <li> <a class="thumb" href="images/gallery-img3.jpg"> <img src="images/thumb-3.jpg" alt=""> <span></span></a> </li>
                    <li> <a class="thumb" href="images/gallery-img4.jpg"> <img src="images/thumb-4.jpg" alt=""> <span></span></a> </li>
                    <li> <a class="thumb" href="images/gallery-img5.jpg"> <img src="images/thumb-5.jpg" alt=""> <span></span></a> </li>
                    <li> <a class="thumb" href="images/gallery-img6.jpg"> <img src="images/thumb-6.jpg" alt=""> <span></span></a> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container_12">
              <div class="wrapper">
                <article class="grid_12">
                  <h3 class="color-1">Our Services List</h3>
                  <div class="wrapper">
                    <article class="grid_6 alpha">
                      <figure class="img-indent frame"><img src="images/page2-img2.jpg" alt=""></figure>
                      <div class="extra-wrap">
                        <div class="indent-top">
                          <ul class="list-1">
                            <!-- <li><a href="#">Interior Decorating Services</a></li> -->
                            <li class="last"><a href="products">Buy Products</a></li></br>
                              
                      
                      
                      <div class="clear"></div>
                    </article>
                    <article class="grid_6 omega">
                      
                      <div class="extra-wrap">
                        <div class="indent-top">
                          <ul class="list-1">
                            <!-- <li><a href="#">Design Services <br> -->
                              <!-- for Home Construction</a></li> -->
                            <li class="last"><a href="decorate">Decorate your room</a></li>
                      <figure class="img-indent frame"><img src="images/page2-img1.jpg" alt=""></figure>
                      
                      <div class="clear"></div>
                    </article>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-bot">
    <div class="main">
      <div class="container_12">
        <div class="wrapper">
        
        </div>
      </div>
    </div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>
  <br><br>
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <div class="grid_4">
          <div>Copyright &copy; <a href="#">WLiT</a> All Rights Reserved</div>
          <div>Design by <a target="_blank" href="#">WLiT</a></div>
          <!-- {%FOOTER_LINK} -->
        </div>
        <div class="grid_4"> <span class="phone-numb"></div>
        <div class="grid_4">
          <ul class="list-services">
            <li><a href="#"></a></li>
            <li><a class="item-2" href="#"></a></li>
            <li><a class="item-3" href="#"></a></li>
            <li><a class="item-4" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
$(window).load(function () {
    // We only want these styles applied when javascript is enabled
    $('div.navigation').css({
        'width': '320px',
        'float': 'right'
    });
    $('div.content').css('display', 'block');

    // Initially set opacity on thumbs and add
    // additional styling for hover effect on thumbs
    var onMouseOutOpacity = 0.5;
    $('#thumbs ul.thumbs li span').opacityrollover({
        mouseOutOpacity: onMouseOutOpacity,
        mouseOverOpacity: 0.0,
        fadeSpeed: 'fast',
        exemptionSelector: '.selected'
    });

    // Initialize Advanced Galleriffic Gallery
    var gallery = $('#thumbs').galleriffic({
        delay: 7000,
        numThumbs: 12,
        preloadAhead: 6,
        enableTopPager: false,
        enableBottomPager: false,
        imageContainerSel: '#slideshow',
        controlsContainerSel: '',
        captionContainerSel: '',
        loadingContainerSel: '',
        renderSSControls: true,
        renderNavControls: true,
        playLinkText: 'Play Slideshow',
        pauseLinkText: 'Pause Slideshow',
        prevLinkText: 'Prev',
        nextLinkText: 'Next',
        nextPageLinkText: 'Next',
        prevPageLinkText: 'Prev',
        enableHistory: true,
        autoStart: 7000,
        syncTransitions: true,
        defaultTransitionDuration: 900,
        onSlideChange: function (prevIndex, nextIndex) {
            // 'this' refers to the gallery, which is an extension of $('#thumbs')
            this.find('ul.thumbs li span').css({
                opacity: 0.5
            })
        },
        onPageTransitionOut: function (callback) {
            this.find('ul.thumbs li span').css({
                display: 'block'
            });
        },
        onPageTransitionIn: function () {
            this.find('ul.thumbs li span').css({
                display: 'none'
            });
        }
    });
});
</script>
</body>
</html>
