<!DOCTYPE html>
<html lang="en">
<head>
<title>Interior Design | Login</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/grid.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style1.css" type="text/css" media="screen"> 

<link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css" media="screen">
<script src="javascripts/jquery-1.6.2.min.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
<body id="page5">
<!--==============================header=================================-->
<header>
    <div class="row-1">
    
      <div class="container_12">
        <div class="grid_12">
            <ul class="menu">
          <nav>
            <li><a href="index">HOME</a></li>

                <div class="dropdown">
                  <li><a href='#' > OUR SERVICES</a>
                    <div class="dropdown-content">      
                      <a href="decorate">Decorate your room</a>
                      <a href="products">Buy items</a>
                      <!-- <a href="design">Design</a> -->
                    </div>
                  </li>
                </div>
            <li><a href="catalogue">GALLERY</a></li>
            <li><a href="signUp">SIGN UP</a></li>
            <li><a class="active" href="login">SIGN IN</a></li>
            
          <!-- <div class="main"><a href="contacts.html" text-align="center"><p>Login</p><p>Sign Up</p></a></div> -->
<!-- <style>
p { text-align:center; }
</style> -->
              </ul>
              <!-- <p style="text-align:right;"><a href="#">Login</p>
            <p style="text-align:right;">Sign Up</p>
 -->
              
          </nav>
        </div>
      </div>
      
</div>
  <div class="row-2">
    <div class="main">
      <div class="container_12">
        <div class="grid_9">
          <h1> <a class="logo" href="index">W<strong>e</strong> <span>Design</span></a> </h1>
        </div>
        
        <div class="clear"></div>
      </div>
    </div>
  </div>
</header>
<!-- content -->
<section id="content">
  <div class="bg-top">
    <div class="bg-top-2">
      <div class="bg">
        <div class="bg-top-shadow">
          <div class="main">
            <div class="box">
              <div class="padding">
                <div class="container_12">
                  <div class="wrapper">
                    <div class="grid_12">
                      <div class="indent-left">
                        <h3 class="p2">Login Form</h3>
                        <form id="contact-form" action="#" method="get" enctype="multipart/form-data">
                          <fieldset>
                            <label><span class="text-form" name="email">E-mail:</span>
                              <input name="p1" type="text">
                            </label>
                            <label><span class="text-form" name="password">Password:</span>
                              <input name="p2" type="text">
                            </label>

                            <button class="btn btn-success" type="#">Login</button>
                      
                            <!-- <div class="buttons"><p style="text-align:left;"> 
                             <a class="button" href="#">Login</a> </div> -->

                             

                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
   <footer>
  <br><br>
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <div class="grid_4">
          <div>Copyright &copy; <a href="#">WLiT</a> All Rights Reserved</div>
          <div>Design by <a target="_blank" href="#">WLiT</a></div>
          <!-- {%FOOTER_LINK} -->
        </div>
        <div class="grid_4"> <span class="phone-numb"></div>
        <div class="grid_4">
          <ul class="list-services">
            <li><a href="#"></a></li>
            <li><a class="item-2" href="#"></a></li>
            <li><a class="item-3" href="#"></a></li>
            <li><a class="item-4" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
<script type="text/javascript">
  $('#contact-form').validate();
</script>
</html>
