<!DOCTYPE html>
<html lang="en">
<head>
<title>Interior Design | Login</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/grid.css" type="text/css" media="screen">
<link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css" media="screen">
<script src="javascripts/jquery-1.6.2.min.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
<body id="page5">
<!--==============================header=================================-->
<header>
  <div class="row-2">
    <div class="main">
      <div class="container_12">
        <div class="grid_9">
          <h1> <a class="logo" href="index.html">Int<strong>e</strong>rior</a> <span>Design</span> </h1>
        </div>
        
        <div class="clear"></div>
      </div>
    </div>
  </div>
</header>
<!-- content -->
<section id="content">
  <div class="bg-top">
    <div class="bg-top-2">
      <div class="bg">
        <div class="bg-top-shadow">
          <div class="main">
            <div class="box">
              <div class="padding">
                <div class="container_12">
                  <div class="wrapper">
                    <div class="grid_12">
                      <div class="indent-left">
                        <h3 class="p2">Login Form</h3>
                        <form id="contact-form" action="#" method="post" enctype="multipart/form-data">
                          <fieldset>
                            <label><span class="text-form" name="email">E-mail:</span>
                              <input name="p1" type="text">
                            </label>
                            <label><span class="text-form" name="password">Password:</span>
                              <input name="p2" type="text">
                            </label>

                            <button class="btn btn-success" type="submit">Login</button>
                      
                            <!-- <div class="buttons"><p style="text-align:left;"> 
                             <a class="button" href="#">Login</a> </div> -->

                             

                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
      </div>
    </div>
  </div>
</footer>
</body>
</html>
